body{
  text-align: center;
}
#app{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.card{
  margin:20px 60px;
  height: auto;
}

.title,footer{
  background-color: lightgray;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.img-div{
  border: solid lightgray 1px;
  border-radius: 4%;
  width: 80%;
  margin: 30px auto auto auto;
  padding: 2%;
}

.cat{
  border: solid lightgray 1px;
  background-color: lightblue;
  color: blue;
  font-size: 25px;
}

.dog{
  border: lightyellow gr 1px;
  background-color: lightyellow;
  color: greenyellow;
  font-size: 25px;
}

.dino{
  border: solid lightgreen 1px;
  background-color: lightgreen;
  color: green;
  font-size: 25px;
}

.btn-nav{
  margin: auto 20px;
}
